/* SectionOne.css */
.section-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2, h3 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.checkbox-group, .language-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox-group label, .language-group label {
    margin: 5px;
}

#licenseFile, #aadhaarFile {
    margin-bottom: 20px;
}

p {
    color: red;
}
